numpy
opencv-python
Pillow
tensorboard
gin-config
rawpy
mediapy
# JAX.
-f https://storage.googleapis.com/jax-releases/jax_cuda_releases.html
jax==0.2.19
jaxlib==0.1.73+cuda11.cudnn82
flax==0.3.4
tensorflow==2.8.0
dm_pix==0.4.0
chex==0.1.2
optax==0.1.2